<h2>edit <a href="/artists/{{artist._id}}/shows/{{show._id}}/songs/{{song._id}}">{{song.name}}</a></h2>

<form action="/artists/{{show.artistId}}/shows/{{show._id}}/songs/{{song._id}}?_method=PUT" method="POST">
    <div>
        <label for="name">name:</label>
        <div class="input">
            <input type="text" id="name" name="name" value="{{song.name}}">
        </div>
    </div>
    <div>
        <label for="album">album:</label>
        <div class="input">
            <input type="text" id="album" name="album" value="{{song.album}}">
        </div>
    </div>
    <div>
        <label for="spotify-link">spotify/youtube embed link:</label>
        <div class="input">
            <input type="text" id="spotify-link" name="spotifyLink" value="{{song.spotifyLink}}">
        </div>
    </div>
    <div class="input">
        <input type="submit" value="edit song">
    </div>
</form>