<h2>{{song.name}}</h2>
{{#if song.album}}
    <h4>from the album {{song.album}} by <a href="/artists/{{artist._id}}">{{artist.name}}</a></h4>
{{/if}}
<a href="/artists/{{artist._id}}/shows/{{song.showId}}/songs">back to setlist</a>
<div id="song-embed">
    {{song.spotifyLink}}
</div>

<form action="/artists/{{artist._id}}/shows/{{song.showId}}/songs/{{song._id}}/edit" method="GET">
    <input type="submit" value="edit song">
</form>

<form action="/artists/{{artist._id}}/shows/{{song.showId}}/songs/{{song._id}}?_method=DELETE" method="POST">
    <input type="submit" value="delete song">
</form>

<script>
    let song = document.createElement('div')
    let frame = document.querySelector('#song-embed')
    song.innerHTML = frame.innerText
    frame.innerHTML = song.innerHTML
</script>