

<h2>{{artist.name}}</h2>

{{#if artist.imgLink}}
    <img class="artist-image" src="{{artist.imgLink}}" alt="photo of {{artist.name}}">
{{/if}}

<div>
    genre: {{artist.genre}}
</div>

<div>
    <a href="/artists/{{artist._id}}/shows">shows</a>
</div>

<form class="center-button" action="/artists/{{artist._id}}/edit" method="GET">
    <input class="btn" type="submit" value="edit artist">
</form>
<form class="center-button" action="/artists/{{artist._id}}?_method=DELETE" method="POST">
    <input class="btn" type="submit" value="delete artist">
</form>
