<h2>edit show</h2>

<form action="/artists/{{show.artistId}}/shows/{{show._id}}?_method=PUT" method="POST">
    <div>
        <label for="name">name:</label>
        <div class="input">
            <input type="text" id="name" name="name" value="{{show.name}}">
        </div>
    </div>
    <div>
        <label for="city">city:</label>
        <div class="input">
            <input type="text" id="city" name="city" value="{{show.city}}">
        </div>
    </div>
    <div>
        <label for="year">year:</label>
        <div class="input">
            <input type="number" id="year" name="year" value="{{show.year}}">
        </div>
    </div>
    <div>
        <label for="video-link">video embed link:</label>
        <div class="input">
            <input type="text" id="video-link" name="videoLink" value="{{show.videoLink}}">
        </div>
    </div>
    <div class="input">
        <input type="submit" value="edit show">
    </div>
</form>