<h2><a href="/artists/{{artist._id}}">{{artist.name}}</a></h2>
<a href="/artists/{{artist._id}}/shows">back to all shows</a>
<h2>{{show.name}} - {{show.city}} {{show.year}}</h2>

{{#if show.videoLink}}
<div id="video-embed">
    {{show.videoLink}}
</div>
{{/if}}

<h3><a href="/artists/{{artist._id}}/shows/{{show._id}}/songs">setlist</a></h3>

<form action="/artists/{{artist._id}}/shows/{{show._id}}/edit" method="GET">
    <input type="submit" value="edit show">
</form>

<form action="/artists/{{artist._id}}/shows/{{show._id}}?_method=DELETE" method="POST">
    <input type="submit" value="delete show">
</form>

<script>
    let video = document.createElement('div')
    let frame = document.querySelector('#video-embed')
    video.innerHTML = frame.innerText
    frame.innerHTML = video.innerHTML
</script>