<h2><a href="/artists/{{artist._id}}">{{artist.name}}</a> shows</h2>
<table>
    <thead>
        <td>tour</td>
        <td>city</td>
        <td>year</td>
    </thead>
    {{#each shows}}
        <tr>
            <td><a href="/artists/{{artistId}}/shows/{{_id}}">{{name}}</a></td>
            <td>{{city}}</td>
            <td>{{year}}</td>
        </tr>
    {{/each}}
</table>

<form action="/artists/{{artist._id}}/shows/new" method="GET">
    <input type="submit" value="add new show">
</form>